*{
    padding:0;
    margin:0;
    background-color: #D9D9D9;
}


#header, p{
    background-color: black;
    color: white;
    height:35px;
    padding: 8px 0 5px 10px;
}



input{
    padding:10px;
    margin-left:10px;
    width:83%;
    border: 1px solid #000000;
}

::placeholder{
    color:#000000
}

#search-button{
    padding:10px;
    width:13%;
    border: 1px solid #000000;
    background-color: #000000;
    color: white;
}

button{
    padding:10px 10px;
    margin-top: 10px;
    width:14%;
    border: 1px solid #000000;
    background-color: #000000;
    color: white;
}

#data-box{
    margin-top: 20px;
    margin-left:18px;
    padding-right:50px;
    padding-bottom:50px;
}

table{
    width:100%;
    height:auto;
    border: 1px solid #000000;
    border-collapse: collapse;
    margin-bottom:10px;
}

table tr td{
    padding: 10px;
    border: 1px solid #000000;
}

#name{
    display:inline-block;
}

#button-flex{
    display: flex;
    justify-content: space-evenly;
}